
    <header class="jumbotron">

        <!-- Main component for a primary marketing message or call to action -->

        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-8">
                    <h1>Francois branciard Coursera prototype</h1>
                    <p style="padding:40px;"></p>
                      <h1>Welcome ! </h1>
	<p>Find all daily specials all around you and also the no waste zone of shops.
	 When you buy any products in the shop, it gives you the right to choose one product in the no waste zone which will be free for you !
	</p>
                </div>
                <div class="col-xs-12 col-sm-2">
                <p style="padding:20px;"></p>
                <img src="images/smiley.jpg" class="img-responsive">
                </div>
                <div class="col-xs-12 col-sm-2">
                </div>
            </div>
        </div>
    </header>

